/* CSS for my personal website and portfolio! */

#home {
  font-family: 'Karla', sans-serif;
  text-transform: uppercase;
}

#welcome-text {
  position: absolute;
  margin: 15% 25%;
  text-align:left;
  font-size: 34pt;
}

#name {
  font-family: 'Libre Bodoni', serif;
  text-transform: capitalize;
  padding-left: 10%;
  font-weight: 500;
}

#welcome-text p {
  font-family: 'Libre Bodoni', serif;
  font-size: 16pt;
  text-transform: none;
  line-height: 35px;
  border-left: 20px solid black;
  padding-left: 20px;
}

.nav-bar {
  float: right;
  margin-top: 20px;
  padding-right: 10px;
}

.nav-bar a {
  color: black;
  text-decoration: none;
  padding: 5px 20px;
  font-size: 16pt;
}

.nav-bar a:hover {
  text-decoration: underline;
  text-decoration-color: #FF5F1A;
}

.nav-bar a:visited {
  color: black;
}

.logo img {
  width: 15%;
  float: left;
  padding-left: 5%;
  padding-top: 2%;
}

.radial-duo {
  float: left;
  padding-left: 5%;
  padding-top: 5%;
}

#pfp {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

#about {
  position: relative;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10%;
  padding: 20px;
  width: 300px;

  height:130px;
  border:5px solid black;
  z-index:1;
}

#about:before {
  position:absolute;
  top:-10px;
  left:10%;
  content:"";
  display:block;
  height:10px;
  width:80%;
  background:white;
}

#about:after {
  position:absolute;
  bottom:-10px;
  left:10%;
  content:"";
  display:block;
  height:10px;
  width:80%;
  background:white;
}

/* bracket border ref
* http://www.java2s.com/example/html-css/css-widget/make-a-parentheses-like-border.html */

#about p {
  font-family: 'Karla', sans-serif;
  font-size: 16pt;
  line-height: 15px;
}

#resume-text h1 {
  display: inline;
  font-family: 'Karla', sans-serif;
  font-size: 27pt;
  font-weight: 500;
  color: white;
  background-color: black;
  padding: 5px;
}


/* for download resume on hover
 * border: 1px solid #FF5F1A;
 * padding 10px 25px;
 */