
.spacer {
  margin: 10%
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.title{
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-container{
    width: 50%;
    margin: auto;
    overflow: hidden;
    position: relative;
}
.carousel-slide1 img{
    height: 100%;
    width: 100%;
}

.carousel-slide1 {
    display: flex;
    width: 100%;
    max-height: 350px;
}
#previousBtn1 {
   position: absolute;
   top: 50%;
   z-index: 10;
    left: 5%;
    font-size: 30px;
    color: blue;
    opacity: 0.5;
    cursor: pointer;
}
#nextBtn1 {
    position: absolute;
    top: 50%;
    z-index: 10;
    right: 5%;
    font-size: 30px;
    color: blue;
    opacity: 0.5;
    cursor: pointer;
}

/*SECOND CAROUSEL*/
.carousel-slide2 img{
  height: 100%;
  width: 100%;
}

.carousel-slide2 {
  display: flex;
  width: 100%;
  max-height: 510px;
}
#previousBtn2 {
 position: absolute;
 top: 50%;
 z-index: 10;
  left: 5%;
  font-size: 30px;
  color: blue;
  opacity: 0.5;
  cursor: pointer;
}
#nextBtn2 {
  position: absolute;
  top: 50%;
  z-index: 10;
  right: 5%;
  font-size: 30px;
  color: blue;
  opacity: 0.5;
  cursor: pointer;
}

/*ART GALLERY*/

.overlay {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: black;
  position: absolute;
  width: 200px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.text h1 {
  text-transform: uppercase;
}

.text h1, .text h2, .text p {
  font-size: 14pt;
  padding-top: 10px;
}

.container {
  position: relative;
  width: 50%;
  margin: auto;
  overflow: hidden;
  padding: 5px;
}

.image {
  display: block;
  width: 100%;
  height: 100%;
}

#gallery {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  margin: auto;
}
