/* CSS for my personal website and portfolio! */

* {
  box-sizing: border-box;
}

#home {
  font-family: 'Karla', sans-serif;
  text-transform: uppercase;
}

#welcome-text {
  position: absolute;
  margin: 15% 25%;
  text-align:left;
  font-size: 34pt;
}

#name {
  font-family: 'Libre Bodoni', serif;
  text-transform: capitalize;
  padding-left: 10%;
  font-weight: 500;
}

#welcome-text p {
  font-family: 'Libre Bodoni', serif;
  font-size: 16pt;
  text-transform: none;
  line-height: 35px;
  border-left: 20px solid black;
  padding-left: 20px;

}

.nav-bar {
  float: right;
  margin-top: 20px;
  padding-right: 10px;
}

.nav-bar a {
  color: black;
  text-decoration: none;
  padding: 5px 20px;
  font-size: 16pt;
}

.nav-bar a:hover {
  text-decoration: underline;
  text-decoration-color: #FF5F1A;
}

.nav-bar a:visited {
  color: black;
}

.logo img {
  max-width: 15%;
  float: left;
  padding-left: 5%;
  padding-top: 2%;
}

.radial-duo {
  float: left;
  z-index: -1;
  padding-left: 5%;
  padding-top: 5%;
}

#pfp {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 70%;
}

#pfp img {
  max-height: 500px;
}

#about {
  position: relative;
  text-align: left;
  margin: auto;
  padding: 20px;
  max-width: 350px;

  max-height: 150px;
  border:5px solid black;
  z-index:1;
}

#about:before {
  position:absolute;
  top:-10px;
  left:10%;
  content:"";
  display:block;
  height:20px;
  width:80%;
  background:white;
}

#about:after {
  position:absolute;
  bottom:-10px;
  left:10%;
  content:"";
  display:block;
  height:20px;
  width:80%;
  background:white;
}

/* bracket border ref
* http://www.java2s.com/example/html-css/css-widget/make-a-parentheses-like-border.html */

#about p {
  font-family: 'Karla', sans-serif;
  font-size: 16pt;
  line-height: 7px;
}

.spacer{
  margin-bottom: 10%;
}

#resume-text h1, #projects-text h1, #contact-text h1 {
  display: inline;
  font-family: 'Karla', sans-serif;
  font-size: 34pt;
  font-weight: 500;
  color: white;
  background-color: black;
  padding: 5px;
}

#resume-text p {
  font-family: 'Libre Bodoni', serif;
  font-size: 16pt;
  color: black;
  text-transform: capitalize;
  border-left: 20px solid black;
  padding: 5px;
  padding-left: 25px;
}

#resume-text p a {
  text-decoration: none;
  color: black;
}

#resume-text p a:visited {
  text-decoration: none;
  color: black;
}

#resume-text p a:hover {
  text-decoration: underline;
  text-decoration-color: #FF5F1A;
}

#resume-text, #projects-text, .proj-container, #contact-text {
  margin-left: 10%;
}

.proj-container {
  margin-right: 10%;
  margin-top: 4%;
  line-height: 35px;
}

.proj-container h2 {
  font-family: 'Karla', sans-serif;
  font-size: 16pt;
  font-weight: 400;
  text-transform: uppercase;
}

.proj-container h2 span {
  text-transform: none;
}

.proj-container h3 {
  font-family: 'Libre Bodoni', serif;
  font-size: 16pt;
  text-transform: capitalize;
  margin-top: 4%;
  margin-bottom: 4%;
}

.proj-container p {
  font-family: 'Karla', sans-serif;
  font-size: 16pt;
  font-weight: 400;
}

#objective {
  text-decoration: underline;
  margin-top: 4%;
}

/* FIRST CAROUSEL */

.carousel-container{
  width: 50%;
  margin: auto;
  overflow: hidden;
  position: relative;
}

.carousel-slide1 img {
  height: 100%;
  width: 100%;
}

.carousel-slide1 {
  display: flex;
  width: 100%;
  max-height: 350px;
}

#prevBtn1 {
  position: absolute;
  top: 50%;
  z-index: 10;
  left: 5%;
  font-size: 30px;
  color: white;
  opacity: 0.5;
  cursor: pointer;
}

#nextBtn1 {
  position: absolute;
  top: 50%;
  z-index: 10;
  right: 5%;
  font-size: 30px;
  color: white;
  opacity: 0.5;
  cursor: pointer;
}

/* SECOND CAROUSEL */

.carousel-slide2 img{
  height: 100%;
  width: 100%;
}

.carousel-slide2 {
  display: flex;
  width: 100%;
  max-height: 510px;
}

#prevBtn2 {
  position: absolute;
  top: 50%;
  z-index: 10;
  left: 5%;
  font-size: 30px;
  color: black;
  opacity: 0.5;
  cursor: pointer;
}
#nextBtn2 {
  position: absolute;
  top: 50%;
  z-index: 10;
  right: 5%;
  font-size: 30px;
  color: black;
  opacity: 0.5;
  cursor: pointer;
}

/* GALLERY */
.overlay {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.gal-container:hover .image {
  opacity: 0.3;
}

.gal-container:hover .overlay {
  opacity: 1;
}

.text {
  color: black;
  position: absolute;
  width: 200px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.text h1, .text h2, .text p {
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  font-size: 14pt;
  padding-top: 10px;
}

.text h1 {
  font-weight: 600;
}

.gal-container {
  position: relative;
  width: 45%;
  margin: auto;
  overflow: hidden;
  padding: 5px;
}

.image {
  display: block;
  width: 100%;
  height: 100%;
}

#gallery {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 70%;
  margin: auto;
}

#contact-text {
  position: absolute;
}

#contact-info {
  font-family: 'Karla', sans-serif;
  font-size: 16pt;
  line-height: 45px;
  width: 100%;
}


#contact-info span {
  font-weight: 600;
}

#contact-info a {
  color: black;
}

#contact-info a:visited {
  color: black;
}

#salutation {
  font-family: 'Libre Bodoni', serif;
  font-size: 16pt;
  line-height: 35px;
  border-left: 20px solid black;
  padding-left: 20px;
  margin-top: 30%;
}

.radial-blur {
  display: block;
  padding-left: 10%;
  z-index: -1;
}

.btm-circle img {
  z-index: -1;
  float: right;
  max-width: 15%;
  padding-right: 5%;
  padding-bottom: 2%;
}
